:root {
  --image-size: 15vw;
  --image-size-mobile: 15vw;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: var(--image-size);
  max-height: 20vw;
  max-width: 20vw;
  margin: .5rem;
  position: relative;
  width: var(--image-size);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}
@media only screen and (max-width: 600px){
  .card {
    height: var(--image-size-mobile)!important;
    max-height: 30vw;
    max-width: 30vw;
    margin: .2rem;
    width: var(--image-size-mobile)!important;
  }
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#031f33;
}
.card > .img-container > img {
  width: 100%
}






