:root {
  --image-size: 15vw;
}
.card {
  background: #fff;
  border-radius: 2px;
  height: var(--image-size);
  margin: .5rem;
  position: relative;
  width: var(--image-size);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#031f33;
}
.card > .img-container > img {
  width: 100%
}






